doctype html
html(lang="en")
    head
        include ../includes/head
    body
        include ../includes/sidebar.pug
        include ../includes/navbar
        div.container.bp-jumbotron.bp-jumbotron-index.p-5.text-center.text-light
          h1.display-3 #{guild.name}
