nav.navbar.navbar-expand-lg.navbar-dark
    .container-fluid
        a.navbar-brand(href='/')
            img(src='/img/bp-logo-text.svg', title='Blueprint', alt='Blueprint')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse.text-light
          .navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
                a.nav-link(href='/commands')
                    i.fas.fa-terminal
                    span.p-2 Commands
          .navbar-nav.ml-auto
            if user
              .dropdown
                .dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.user-avatar.round(src=user.avatarUrl(32))
                  span.p-2 #{user.username}
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href='/dashboard') #[i.fas.fa-cogs.text-muted] Dashboard
                  hr
                  a.dropdown-item(href='/logout') #[i.fas.fa-user-slash.text-muted] Logout
            else
              li.nav-item
                  a.nav-link(href='/login')
                      i.fas.fa-sign-in-alt
                      span.p-2 Login         
