doctype html
html(lang="en")
    head
        include includes/head
    body
        include includes/navbar
        div.bp-jumbotron.bp-jumbotron-index.p-5.text-center.text-light
            h1.display-3 404
            p.lead Something went wrong!
            a.btn(href='/') Return home